# Python 缓存
__pycache__/

# 依赖包
dependencies/*.whl

# 虚拟环境
venv_gemma/
venv_mineru/

# 配置文件与私钥
.env

# 数据库与本地存储
*.pkl
local_bm25_nodes.pkl

# 本地大模型与缓存
models/
*.gguf

# llama的 cpp 框架
llama/
*.exe
*.ddl

# 操作系统文件
.DS_Store
Thumbs.db