# Python 缓存
__pycache__/

# 虚拟环境
venv_gemma/
venv_mineru/
env/

# 配置文件与私钥 (绝对不能上传真实密钥！)
config/secrets.yaml
.env

# 数据库与本地存储
*.pkl
local_bm25_nodes.pkl

# 本地大模型与缓存
models/
*.gguf

# llama的 cpp 框架
llama/
*.exe
*.ddl

# 操作系统文件
.DS_Store
Thumbs.db